@font-face {
    font-family: Hunter;
    src: url(fonts/Hunters.otf);
}

body {
    background: #181818;
    background-image: url(background/BackgroundFinalPNG5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, i:hover {
    color: #BF1793;
    transition: 1s;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header_logo__img {
    width: 213px;
    height: 80px;
}

.header_menu {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
}

.header_menu__ul, .header_menu__ul2 {
    display: flex;
    list-style: none;
}

.header_menu__ul__li, .header_menu__ul2__li {
    margin-left: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.header_menu__ul2__li {
    margin-left: 20px;
    margin-top: 0px;
    color: white;
    padding: 7px 35px;
    border: 2px solid #1DF2B6;
    border-radius: 30px;
}

.header_menu__ul2__li:hover {
    color: #1DF2B6;
    transition: 1s;
}

.advertisement {
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 350px;
    padding-bottom: 210px;
}

.advertisement__h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    line-height: 0.7;
    color: white;
}

.advertisement__p {
    padding-right: 850px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.advertisement__button {
    color: white;
    background-color: #BF1793;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 35px;
    border: 2px solid #BF1793;
    border-radius: 30px;
}

.advertisement__i {
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

.advertisement__a {
    padding-left: 20px;
}

.advertisement2 {
    margin-top: 140px;
}

.advertisement2__container {
    display: flex;
    width: 100%;
    padding: 15px 30px;
}

.advertisement2__container__textside {
    color: #fff;
    border-radius: 15px;
    border: 1px solid rgba (255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); 
}

.advertisement2__container__textside__h2, .advertisement2__container__textside__p {
    color: white;
    padding-left: 50px;
}

.advertisement2__container__textside__h2 {
    line-height: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    padding-right: 100px;
    padding-top: 65px;
}

.advertisement2__container__textside__p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 100px;
}

.advertisement2__container__textside__button {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    background-color: #1DF2B6;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 35px;
    border: 2px solid #1DF2B6;
    border-radius: 30px;
}

.advertisement2__container__slider {
    display: flex;
}

.advertisement2__container__slider__img {
    width: 300px;
    height: 533px;
    border-radius: 40px;
    margin-right: 50px;
}

.deepAdd {
    background-image: url(background/backgroundMenu9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    margin: 50px 0px;
    justify-content:space-around;
    padding: 50px 0;
}

.deepAdd__container {
    padding: 10px 60px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid rgba (255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.deepAdd__container__i {
    padding: 5px 0px;
    color: white;
    font-size: 50px;
    padding-left: 33.3%;
}

.deepAdd__container__h3 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.deepAdd__container__p {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-size: 15px;
    text-align: center;
}

.dummieAdd {
    background: #201f1d;
    background-image: url(background/backgroundAdd2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    margin: 50px 0px;
    display: flex;
    justify-content:space-around;
}

.dummieAdd__glass {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba (255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin: 100px 200px;
    padding-bottom: 30px;
    justify-content:unset;
}

.dummieAdd__glass__h2 {
    font-family: 'Roboto', sans-serif;
    flex: 900px;
    color: white;
    font-size: 50px;
    margin: 50px 70px;
}

.dummieAdd__glass__container {
    margin-left: 150px;
    margin-right: 70px;
    margin-top: 50px;
}

.dummieAdd__glass__container__p {
    color: white;
    font-size: 18px;
}

.dummieAdd__glass__container__button {
    font-size: 18px;
    color: black;
    background-color: #1DF2B6;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 35px;
    border: 2px solid #1DF2B6;
    border-radius: 30px;
}







.intro {
    color: #fff;
    border-radius: 15px;
    backdrop-filter: blur(5px); 
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba (255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 0 500px;
    padding: 15px 0;
}

.intro__h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.intro__p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
}

.catalog {
    background-color: none;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.catalog_testWeed {
    color: #fff;
    border-radius: 15px;
    backdrop-filter: blur(5px); 
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba (255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    padding: 0 5px;
    margin-right: 12.5px;
    margin-left: 30.5px;
    margin-bottom: 32px;
    margin-top: 50px;
}

.catalog_testWeed__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.catalog_testWeed__h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.catalog_testWeed__p {
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.catalog_testWeed__h4 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}